<ion-view view-title="Agregar producto" class="addProducto">
  <ion-content>
    <ion-list>
      <ion-radio ng-repeat="item in resList" ng-model="addprod.sel" ng-value="item">
      	<div class="d">{{item.descripcion}}</div>
      	<div class="azul">Stock: {{item.stock}}</div>
      	<div class="negro">Precio: $ {{item.precio}}</div>
      </ion-radio>
    </ion-list>
    <br />
    <div class="text-center">
	    <button ng-click="agregarSeleccion()" class="button button-assertive">Agregar</button>
	    <button ng-click="cancelarAgregar()" class="button button-stable">Cancelar</button>
	</div>
    <br /><br /><br />
  </ion-content>
</ion-view>