.col {
	border: thin solid black !important
}
.hd {
	background-color: #d0dffd;
}
.vacio {
	font-size: 16px;
	color: #003399;
}

.button.button-icon.input-button {
  position: absolute;
  right: 0;
  top: 5px;
  color: #bbb;
}

.item img {
  height: 60px;
  width: 60px;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}

.my-item.item {
  padding-top: 0;
  padding-bottom: 0;
}

.full-width {
  width: 100%;
}
.scroll-content {
	min-height: 400px;
}