.col {
	border: thin solid black !important
}
.hd {
	background-color: #d0dffd;
	text-align: center;
	font-size: 16px;
}
.detalle div {
	font-size: 16px;
}
.detalle button { font-size: 18px; margin-left: 20px; margin-right: 20px; font-weight: normal; }
.firsttotal {
	margin-top: 30px !important;
}
.totals div {
	font-size: 18px;
	font-weight: bold;		
	background-color: #d0dffd;
}
.vacio {
	font-size: 16px;
	color: #003399;
}
.addProducto .radio-content {  }
.addProducto .radio-content div.d { width: 50%; display:inline-block; }
.addProducto .radio-content div.azul { width: 25%; color: blue; display:inline-block; }
.addProducto .radio-content div.rojo { width: 25%; color: red; display:inline-block; }
.addProducto .radio-content div.negro { width: 25%; font-weight: bold; display:inline-block; }